/* general elements */
a, a:hover {
    text-decoration: none;
}

/* redirectors */
[data-action='redirect'] {
    cursor: pointer;
}

/* tabs */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid #2780e3;
}

/* z-index */
.zindex-dropdown{
    z-index: 1000;
}
.zindex-sticky{
    z-index: 1020;
}
.zindex-fixed{
    z-index: 1030;
}
.zindex-modal-backdrop{
    z-index: 1040;
}
.zindex-modal{
    z-index: 1050;
}
.zindex-popover{
    z-index: 1060;
}
.zindex-tooltip{
    z-index: 1070;
}

/* Preview Doc & Template Wrapper */
.preview {
    width: 150px;
    height: 200px;
}